.wrap_main_steps_menu{
	text-align: center;
	font-size: 30px;
	color: white;
	.subtitle_step3{
		font-size: 45px;
		margin: 10px 0px 20px 0px;
	}
	.list_tipy{
		color: black;
		width: 300px;
		margin-bottom: 10px;
	}
}

.wrap_type_quest{
	width: 300px;
	height: 75px;
	float: left;
	background-color: #9ed1f0;
	padding: 3px;
}
.wrap_type_quest:hover{
	background-color: #034a79;
	cursor: pointer;
}
.wrap_type_quest_act{
	width: 300px;
	height: 75px;
	float: left;
	background-color: #034a79;
	padding: 3px;
	cursor: pointer;	
}

.types_quest{
	width: 1250px;
	height: 75px;
	margin: auto;
}
.type_quest{
	.pict_type{
		width: 70px;
		height: 70px;
		float: left;
		.pict{
			width: 40px;
			padding-top: 15px;
		}
	}
	.text_type{
	}
}

.question_example, .wrap_question{
	width: 700px;
	margin: auto;
	.title_questions{
		margin-top: 30px;
		width: 150px;
	}
	.block_quest{
		width: 100%;
		padding: 20px;
		.text_quest{
			margin-left: 50px;
			float: left;
		}
		.block_for_quest{
			float: left;
			margin-left: 15px;
			.input_text_quest{
				width: 450px;
				border-radius: 15px;
				border: 2px solid #034a79;
				color: black;
				padding-left: 10px;
			}
		}
	}
	.block_answer{
		.text_answer{
			margin-top: 30px;
			width: 360px;
			.plus{
				width: 25px;
				margin-left: 10px;
			}
		}
		.var_answer{
			padding-left: 100px;
			margin-top: 10px;
			input[type=radio]{
				margin-right: 10px;
				width: 20px;
				height: 70px;
			}
			.box_answer{
				width: 450px;
				border-radius: 15px;
				border: 2px solid #034a79;
				color: black;
				padding-left: 10px;
			}
		}
	}
}


.wrap_question{
	width: 700px;
	margin: auto;
	.title_questions_2{
		margin-top: 30px;
		width: 300px;
		.plus{
			width: 25px;
			margin-left: 10px;
			cursor: pointer;
		}
	}
	.questions{
		width: 700px;
		margin: auto;
		.question_block{
			width: 700px;
			background-color: #9ed1f0;
			border: 3px solid #538dee;
			border-radius: 15px;
			padding-top: 6px;
			margin: 5px 0px 5px 0px;
			padding-bottom: 15px;
		}
	}
}
.plus{
	cursor: pointer;
}


.close_pict{
	width: 20px;
	margin-left: 20px;
	cursor: pointer;
}

.save_button{
	margin: 20px auto;
	height: 40px;
	color: white;
	font-size: 30px;
	width: 150px;
	padding: 3px;
	border: 2px solid #3F8BB3;
	border-radius: 25px;
	text-align: center;
	background-color: #4392CA;
}
.save_button:hover{
	cursor: pointer;
}

.block_all_roles{
	margin-top: 50px;
	margin-left: 100px;
	position: absolute;
	border: 2px solid black;
	border-radius: 20px;
	min-width: 180px;
	background-color: white;
	color: #49b1e9;
}
.title_roles{
	border-radius: 17px 17px 0px 0px;
	width: 100%;
	background-color: #034a79;
	color: white;
}
.block_roles_active{
	width: 100%;
	background-color: #49b1e9;
	color: white;
}
.block_roles_last_active{
	width: 100%;
	background-color: #49b1e9;
	color: white;
	border-radius: 0px 0px 17px 17px;
}
.next_role_button{
	font-size: 25px;
	color: white;
	border: 2px solid #3f8bb3;
	background-color: #4392ca;
	border-radius: 20px;
	margin-left: 30%;
	text-align: center;
	height: 40px;
	padding-top: 5px;

}
.next_pict{
	vertical-align: middle; 
	margin: 0px 15px 0px 15px;
	width: 35px;
}
textarea{
	resize: vertical;
}