.wrap_thanks{
		font-size: 70px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
		width: 1300px;
>>>>>>> 36280587c97de042c38fbc66d1f2f7c3d5dd39b0
>>>>>>> 2d39850758ca10e1aa5d916ffb67306d9209b81b
		text-align: center;
		color: white;
		margin: 70px auto 70px auto;
		a{
			color: white;
			text-decoration: none;
			.mini_text{
			font-size: 40px;
			width: 420px;
			margin: auto;
			}
			.mini_text:hover{
				color: #034a79;
				cursor: pointer;
			}
		} 
	}