.wrapper_q_l{
	text-align: center;
	.title_q_l{
		font-size: 40px;
		color: white;
	}
	.q_l{
		font-size: 40px;
		width: 400px;
		margin: 10px 0px;
	}
}
	.q{
		font-size: 40px;
		color: white;
		margin-top: 10px;
		text-align: center;
	}
	#mainbody{
		margin-top: 10px;
		font-size: 30px;
		color: white;
		text-align: center;
		span.s{
			padding: 10px;
			border-radius: 25px;
			border: 2px solid white;
		}
		ul{
			list-style: none;
			padding: 0;
			img{
				width: 200px;
			}
		}
	}
	
.save_button{
	margin: 20px auto;
	height: 40px;
	color: white;
	font-size: 30px;
	width: 150px;
	padding: 3px;
	border: 2px solid #3F8BB3;
	border-radius: 25px;
	text-align: center;
	background-color: #4392CA;
}
.save_button:hover{
	cursor: pointer;
}